<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
      <a class="navbar-brand">CupCakePop</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Menu de navegação com Toggle">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup"></div>
      <ul class="nav navbar-nav" routerLinkActive="active">
          <li class="nav-item"><a class="nav-link" routerLink="home">Home</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="bem-vindo">Bem-Vindo</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="cardapio">Cardapio</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="sobre-nos">Sobre Nós</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="cadastro">Cadastro</a></li>
      </ul>
  </div>
</nav>

<router-outlet></router-outlet>

 <!--<nav class="navbar navbar-expand-lg navbar-light ">
  <div class="container-fluid">
    <a class="navbar-brand" href="cupcake-card.component.html">CupCakePop</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Menu de navegação com Toggle">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" aria-current="page" href="cupcake-card.component.html">HOME</a>
        <a class="nav-link active" aria-current="page" href="cupcake-card.component.ben_vindo.html">BEM-VINDO</a>
        <a class="nav-link" aria-current="page" href="cupcake-card.component.cardapio.html">CARDÁPIO</a>
        <a class="nav-link" aria-current="page" href="sobre_nos.html">SOBRE NÓS</a>
        <a class="nav-link" aria-current="page" href="cadastro.html">CADASTRO</a>
      </div>
    </div>
  </div>
</nav> -->

<router-outlet></router-outlet>
